body {
    margin: 0px;
    padding: 0px;
}

form {
    background-color: #eee;
    padding: 10px 5px 10px 5px;
    text-align: right;
    border-bottom: 1px solid #ddd;
}

/* needed to add button and password input selectors as well to 
make the boxes and button match, as they do in the example */

input[type="text"],
input[type="password"],
button {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
    outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
button:focus {
    border: 1px solid #EC576B;
    box-shadow: 0 6px 6px -6px #777;
}

button {
    background-color: #EC576B;
    color: white;
    cursor: pointer;
}